.header {
  padding: 45px 0 0;
  max-width: 880px;
  height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84,84,84,.7);
  position: relative;
}

@media screen and (max-width: 970px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 427px) {
  .header {
    width: 100%;
    height: 56px;
    padding-top: 27px;
  }
}