.card__topic {
  padding: 0;
  margin: 24px 0 27px 21px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 195px;
  height: 29px;
  grid-area: topic;
}
