.profile__discription{
  padding: 0;
  margin: 16px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  line-height: 22px;
  grid-area: discr;
  transition: .7s ease;
}

@media screen and (max-width: 900px) {
  .profile__discription {
    max-width: 282px;
    margin: 14px 0 0 0;
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (max-width: 685px) {
  .profile__discription {
    text-align: center;
  }
}

@media screen and (max-width: 535px) {
  .profile__discription {
    font-size: 14px;
  }
}