.profile__info{
  display: grid;
  grid-template-areas:
        "name buttonEdit"
        "discr .";
    grid-template-columns: 1fr min-content;
    align-items: end;
    column-gap: 18px;
    align-items: baseline;
}