.card__like {
  background-image: url('../../../images/cards/badge-like.svg');
  width: 22px;
  height: 19px;
  border: none;
  margin: 31px 18px 0 0;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: like;
  justify-self: end;
}

@media screen and (max-width: 980px) {
  .card__like {
    margin-top: 0;
    align-self: center;
  }
}

.card__like:active {
  opacity: 1;
  background-image: url('../../../images/cards/badge-like_active.svg');
}
