.footer {
  margin: 0 auto;
  padding: 67px 0 60px;
  max-width: 880px;
}

@media (max-width: 980px) {
  .footer {
    width: 90%;
  }
}

@media (max-width: 535px) {
  .footer {
    padding: 48px 0px 36px;
    margin: 0 19px 0;
  }
}